<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.informaciones.facultad.contaduriaalacima">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico_conta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico_conta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Categorias.CrearCategorias">
        </activity>
        <activity android:name=".Categorias.Categorias" />
        <activity android:name=".Publicaciones.Publicaciones" />
        <activity android:name=".Publicaciones.CrearPublicacion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>