<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.informaciones.facultad.contaduriaalacima">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico_conta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico_conta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Categorias.CrearCategorias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Categorias.Categorias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Publicaciones.Publicaciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Publicaciones.CrearPublicacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.Chat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PantallaPrincipal.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Documentos.CrearDocumentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Documentos.Documentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PantallaPrincipal.GestionDePublicaciones"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Email.Contacto"></activity>
    </application>

</manifest>